        body {
            font-family: Slovic, sans-serif;
            margin: 0;
            padding: 0;
            /* background-color: white; */
            background: url("cat.jpg");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
          
        }
        header {
            background-color: blue;
            color: rgb(0, 255, 157);
            padding: 10px 0;
            text-align: center;
        }
        container {
            max-width: 800px;
            margin: 20px auto;
            padding: 0 20px;
        }
        my-button 
	    {
            background-color: darkblue; 
            border: none;
            color:ghostwhite;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 8px;
        }
        h1 
        {
            color: rgb(223, 10, 10);
        }
        p 
        {
            color: royalblue;
            line-height: 4.0;
            padding: 10px 0;
        }
        alignment 
        {
            float: left;
            margin-right: 10px; 
        }
