body {
    font-family: Slovic, sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: white; */
    background: url("contact.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%; 
    box-sizing: border-box;
}

h1{
    color: blue;
    text-align: center;
    justify-items: center;
    padding: 0;
    text-decoration:double;
}
.navbar {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.navbar-brand a {
    font-size: 1.5em;
    font-weight: bold;
}

.navbar-menu ul {
    list-style: none;
    display: flex;
}

.navbar-menu ul li {
    margin-left: 20px;
}

.navbar-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.navbar-toggle span {
    background: white;
    height: 2px;
    margin: 3px;
    width: 25px;
}

@media (max-width: 768px) {
    .navbar-menu {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .navbar-menu ul {
        flex-direction: column;
    }

    .navbar-menu ul li {
        margin: 10px 0;
    }

    .navbar-toggle {
        display: flex;
    }
}
my-button 
{
    background-color: black; 
    border: none;
    color:ghostwhite;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}